<!DOCTYPE html>

<header>
    <head>
        <title>Alzheimer's Disease (AD) Based Speech-Tracking Technology</title>
    </head>
    <h1>
        Alzheimer's Disease (AD) Speech-Tracking Technology
    </h1>
</header>
<style>
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: lightblue;
    }
</style>
<body>
    <p>
        Welcome! You can test your susceptibility of developing Alzheimer's Disease through this voice-recording system, that will track components such as speech deficiency, sentence formation, pauses etc. Press the button to start.
    </p>
<p>
    Essentially, by pressing the button, a recording of your speech will start. In this recoding, say whatever you want. We've left a list of questions for you to answer below to make this easier.
</p>

<p>
    Once you complete the recording, a report will be downloaded onto your computer demonstrating the susceptibility of you developing Alzheimer's Disease and any stats that show so.
</p>
</body>
<form action="/process" method="POST">
    <label for="gang"><i>Press the button to start recording</i></label>
    <br>
    <button type="submit">Start</button>

</form>
<p>
List of questions:
    <ul>
    <li>Tell me about yourself?</li>
    <li>What do you do in a regular day?</li>
    <li>What is the best hot take that you have?</li>
    <li>How would you describe yourself?</li>
    <li>What is your funniest story?</li>
    </ul>
</p>
<p><b>
    Once ready, press the button and start recording.
</b></p>
<p>
    Read the research behind this project:
    <ul>
    <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8950225/">Research Paper 1 - Machine-Learning-Based Disease Diagnosis: A Comprehensive Review (2022)</a></li>

    <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8950225/">Research Paper 2 - Comprehensive Review on Alzheimer's Disease: Causes and Treatment (2024)</a></li>
    <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8950225/">Research Paper 3 - Linguistic markers predict onset of Alzheimer’s disease (2020)</a></li>
</ul>

</p>
</html>
