<!DOCTYPE html>

<header>
    <head>
        <title>Alzhimer's Based Speech Tracking Technology</title>
    </head>
    <h1>
        Alzheimer Speech Tracking Tech
    </h1>
</header>
<style>
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
</style>
<body>
    <p>
        Welcome! You can test your susceptibility of developing ALzheimer's Disease through this voice-recording system, that will track components such as speech deficiency, sentence formation, pauses etc. Press the button to start.
    </p>
</body>
<form action="/process" method="POST">
    <label for="gang">Press the button to start recording</label>
    <br>
    <button type="submit">Submit</button>


</form>
</html>
